##########################################################
# Copy this file to build.properties                     #
##########################################################

#Path to folder where are cloned repository from openshift
#ex. deploy.path=C:/Users/piotr/soahotel-deploy
deploy.path=

#Path to local maven repository
#ex. maven.repository=C:/Users/piotr/.m2
maven.repository=