.errorBlock {
	color: red;
}

.tableRight {
	float: right;
}

.tableLeft {
	float: left;
}

.section {
	width: 30%;
}

.clear {
	clear: both;
}

.sectionLabel {
	text-transform: uppercase;
	font-weight: bold;
}

.sideMenu {
	float: left;
	background: #888888;
	display: block;
	position: fixed;
	height: 100%;
	width : 10%;
	max-width: 10%;
	padding : 5px;
}

.hotelList {
	padding: 10px;
	float: left;
	display: block;
	position: fixed;
	height: 100%;
	max-width: 10%;
}

.sideMenu a {
	text-decoration: none;
	color: #4d4d4d;
}

.hotelList a {
	text-decoration: none;
	color: #9d9d9d;
}

.container {
	float: right;
	max-width: 90%;
}

.hidden {
	display: none;
}

.editButton{
	text-align: right;
}

.removeButton {
	text-align: right;
}
#submit {
	border: none;
}